{% extends "base.html" %}
{% load static %}

{% block title %}{{ employee.full_name }}{% endblock %}

{% block content %}
<div>
    {% if employee.photo %}
        <img src="{{ employee.photo.url }}" alt="Фото {{ employee.full_name }}">
    {% else %}
        <img src="{% static 'images/default-avatar.png' %}" alt="Без фото">
    {% endif %}

    <h1>{{ employee.full_name }}</h1>
    <div>{{ employee.position.title }}</div>
    <div>📞 {{ employee.phone }}</div>
    <div>📧 {{ employee.email }}</div>
    <div>{{ employee.bio }}</div>

    <a href="{% url 'employee' %}">← Назад ко всем сотрудникам</a>
</div>
{% endblock %}
