# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
media/
staticfiles/
*.mo

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/
*.egg

# Environment variables
.env
