{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Музей информационных технологий{% endblock %}</title>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'layout.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header class="layout">
        <h1>- Музей информационных технологий -</h1>
        <img src="{% static 'images/logo.jpg' %}" height="150" width="700">
        <br>
        <img src="{% static 'images/banner/banner1.jpg' %}">
        <img src="{% static 'images/banner/banner2.jpg' %}">
        <img src="{% static 'images/banner/banner3.jpg' %}">
        <img src="{% static 'images/banner/banner4.jpg' %}">
        <img src="{% static 'images/banner/banner5.jpg' %}">
        <hr>
    </header>

    <div class="content-wrapper">
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <aside>
            <a href="{% url 'home' %}">Главная</a><br>
            <a href="{% url 'about' %}">О музее</a><br>
            <a href="{% url 'news_list' %}">Новости</a><br>
            <a href="{% url 'vacancies' %}">Вакансии</a><br>
            <a href="{% url 'employee' %}">Сотрудники</a><br>
            <a href="{% url 'reviews' %}">Отзывы</a><br>
            <a href="{% url 'faq_list' %}">Вопросы</a><br>
            <a href="{% url 'promocodes' %}">Промокоды</a><br>
            <a href="{% url 'museum_info' %}">Полезная информация</a><br>
            <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a><br>
            <a href="{% url 'statistics' %}" target="_blank">Статистика</a><br>
            <a href="{% url 'sales_charts_page' %}" target="_blank">Графики</a><br>
            <a href="{% url 'joke' %}"target="_blank">Шутки</a><br>
            <a href="{% url 'additional_page' %}" target="_blank">Дополнительная страница</a><br>
            <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Выйти</button>
            </form>
        </aside>
    </div>

    <footer class="layout">
        <hr>
        <h3 id="details">Реквизиты</h2>
        <p>Название: Музей информационных технологий</p>
        <p>УНП: 123456789</p>
        <p>Расчетный счет: BY00ABCD00000000000000000000</p>
        <p>Банк: ОАО "Беларусбанк"</p>
        <address>
            <p>Юридический адрес: г. Минск, ул. Музейная, 1</p>
            <p>Электронная почта: <sub><i>museum_it@gmail.com</i></sub></p>
            <a href="mailto:nastyakashko249@gmail.com?subject=Вопрос">Быстрое смс</a>
            <p>Телефон: <sub><i>+375 (29) 123-45-67</i></sub></p>
            <a href="tel:+375291234567">Быстрый звонок</a>
        </address>
    </footer>
</body>
</html>
