{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title class="H1">{% block title %}Музей информационных технологий{% endblock %}</title>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/additional_api.js' %}"></script>
    <script src="{% static 'js/scrolling.js' %}"></script>
    <script src="{% static 'js/parallax.js' %}"></script>
    <script src="{% static 'js/theme.js' %}" defer></script>
</head>
<body>
    <header class="layout">
        <h1 class="company-title">- Музей информационных технологий -</h1>
        <img src="{% static 'images/logo.png' %}" height="150" width="700" class="logo">
        <br>
        <div class="slider-container" 
             data-delay="{{ slider_settings.delay }}" 
             data-loop="{{ slider_settings.loop|yesno:'true,false' }}"
             data-navs="{{ slider_settings.show_navs|yesno:'true,false' }}"
             data-pags="{{ slider_settings.show_pagination|yesno:'true,false' }}"
             data-auto="{{ slider_settings.auto_play|yesno:'true,false' }}"
             data-stop-hover="{{ slider_settings.stop_on_hover|yesno:'true,false' }}">
            
            <div class="slider-wrapper">
                <div class="slider-track">
                    <div class="slide active" data-link="/news/">
                        <img src="{% static 'images/banner/banner1.jpg' %}" alt="Слайд 1">
                        <div class="slide-caption">Роботы - наши помощники</div>
                    </div>
                    <div class="slide" data-link="/about/">
                        <img src="{% static 'images/banner/banner2.jpg' %}" alt="Слайд 2">
                        <div class="slide-caption">Мир ИТ</div>
                    </div>
                    <div class="slide" data-link="/vacancies/">
                        <img src="{% static 'images/banner/banner3.jpg' %}" alt="Слайд 3">
                        <div class="slide-caption">Робототехника</div>
                    </div>
                    <div class="slide" data-link="/reviews/">
                        <img src="{% static 'images/banner/banner4.jpg' %}" alt="Слайд 4">
                        <div class="slide-caption">Человек в мире ИТ</div>
                    </div>
                    <div class="slide" data-link="/promocodes/">
                        <img src="{% static 'images/banner/banner5.jpg' %}" alt="Слайд 5">
                        <div class="slide-caption">Искусственный интеллект</div>
                    </div>
                </div>
                
                <button class="slider-nav prev" aria-label="Предыдущий слайд">‹</button>
                <button class="slider-nav next" aria-label="Следующий слайд">›</button>
                
                <div class="slider-pagination"></div>
                
                <div class="slide-counter"></div>
            </div>
        </div>
        <hr>
    </header>

    <nav class="fixed-nav">
            <a href="{% url 'home' %}">Главная</a> |
            <a href="{% url 'about' %}">О музее</a> |
            <a href="{% url 'news_list' %}">Новости</a> |
            <a href="{% url 'vacancies' %}">Вакансии</a> |
            <a href="{% url 'employee' %}">Сотрудники</a> |
            <a href="{% url 'reviews' %}">Отзывы</a> |
            <a href="{% url 'faq_list' %}">Вопросы</a> |
            <a href="{% url 'promocodes' %}">Промокоды</a> |
            <a href="{% url 'museum_info' %}">Полезная информация</a> |
            <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a> |
            <button id="theme-toggle">🌙 Тёмная тема</button>
    </nav>

    <div class="content-wrapper">
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <aside>
            <a href="{% url 'statistics' %}" target="_blank">Статистика</a><br>
            <a href="{% url 'sales_charts_page' %}" target="_blank">Графики</a><br>
            <a href="{% url 'joke' %}"target="_blank">Шутки</a><br>
            <a href="{% url 'additional_page' %}" target="_blank">Дополнительная страница</a><br>
            <a href="{% url 'toys' %}" target="_blank">Список игрушек</a><br>
            <a href="{% url 'checkbox_generator' %}" target="_blank">Генерация элемента формы</a><br>
            <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Выйти</button>
            </form>
        </aside>
    </div>

    <footer class="layout">
        <hr>
        <h3 id="details">Реквизиты</h2>
        <p>Название: Музей информационных технологий</p>
        <p>УНП: 123456789</p>
        <p>Расчетный счет: BY00ABCD00000000000000000000</p>
        <p>Банк: ОАО "Беларусбанк"</p>
        <address>
            <p>Юридический адрес: г. Минск, ул. Музейная, 1</p>
            <p>Электронная почта: <sub><i>museum_it@gmail.com</i></sub></p>
            <a href="mailto:nastyakashko249@gmail.com?subject=Вопрос">Быстрое смс</a>
            <p>Телефон: <sub><i>+375 (29) 123-45-67</i></sub></p>
            <a href="tel:+375291234567">Быстрый звонок</a>
        </address>
    </footer>
</body>
</html>
