{% extends "base.html" %}

{% block title %}Регистрация сотрудника{% endblock %}

{% block content %}
<h2>Регистрация сотрудника музея</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

    <label>Имя пользователя:</label>
    <input type="text" name="username" required value="{{ form_values.username|default:'' }}"><br>

    <label>Пароль:</label>
    <input type="password" name="password" required"><br>

    <label>Почта:</label>
    <input type="email" name="email" value="{{ form_values.email|default:'' }}"><br>

    <label>ФИО:</label>
    <input type="text" name="full_name" required value="{{ form_values.full_name|default:'' }}"><br>

    <label>Дата рождения:</label>
    <input type="date" name="date_of_birth" required value="{{ form_values.date_of_birth|default:'' }}"><br>

    <label>Телефон:</label>
    <input type="text" name="phone" value="{{ form_values.phone|default:'' }}"><br>

    <label>О себе:</label>
    <textarea name="bio" rows="4">{{ form_values.bio|default:'' }}</textarea><br>

    <label>Фото:</label>
    <input type="file" name="photo"><br>

    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock %}
