<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>

<h1>Моя корзина</h1>

{% if cart_items %}
    <ul>
        {% for item in cart_items %}
            <li itemscope itemtype="https://schema.org/Product" itemid="#ticket{{ item.id }}">
                <strong itemprop="name">{{ item.ticket.name }}</strong> —
                <span itemprop="price">{{ item.ticket.price }}</span> ₽ —
                <span itemprop="category">{{ item.ticket.get_visitor_age_display }}</span>,
                <span itemprop="dayType">{{ item.ticket.get_day_type_display }}</span>,
                Фото: <span itemprop="photoPermission">{% if item.ticket.photo_permission_fee %}Да{% else %}Нет{% endif %}</span><br>
                Количество: <span itemprop="quantity">{{ item.quantity }}</span>

                <form action="{% url 'update_cart_quantity' item.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" name="action" value="decrease">-</button>
                    <button type="submit" name="action" value="increase">+</button>
                </form>

                <form action="{% url 'remove_from_cart' item.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" tabindex="2">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Ваша корзина пуста.</p>
{% endif %}

<form action="{% url 'checkout' %}" method="get">
    <button type="submit" 
            title="Переход на страницу оплаты"
            accesskey="x"
            tabindex="-1">Оплатить</button>
</form>

<hr>
<h1 dir="auto" lang="en" translate="yes">My cart</h1>

<h2 dir="ltr" lang="ru" 
    contenteditable
    spellcheck="true">"Моя карзина"</h2>

<h3 dir="rtl" lang="be">"Мой кошык"</h3>

<hr>
<p>
    <code>
        var mood = ["good", "bad"];<br>
        document.writeln("I have " + mood[1] + " mood");
    </code>
</p>
<p>Имя списка (переменной): <var>mood</var></p>
<p>Результат работы программы: <samp>I have bad mood</samp></p>
<p>Пользователь ввёл: <kbd>bad</kbd>

<hr>
<h3>Оформление аббревиатур</h3>
<abbr title="Белорусский государственный университет информатики и радиоэлектроники">БГУИР</abbr>

<hr>
<h3>Оформление определений</h3>
<dfn title="определение">Учёба</dfn> - это то, что позволяет развиваться и уставать одновременно.

<p><a href="{% url 'museum_info' %}"
      tabindex="1">← Вернуться назад</a></p>
</body>
</html>
